.popup__container {
  max-width: 430px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 36px;
}

@media screen and (max-width: 767px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  }
}
